body {
    background-color: rgb(239, 235, 235);
    color: rgb(40, 56, 37);
    font-family: Arial, sans-serif;
    text-align: center;
}

.congratulations {
    font-size: 45px;
}

img {
    width: 60%;
    max-width: 500px;
    height: auto;
    border: 10px solid rgb(246, 246, 246);
}

.creation {
    font-size: 20px;
}

.display-btn {
  cursor: pointer;
  background-color: rgb(119, 228, 137);
  color: white;
  width: 235px;
  height: 60px;
  font-size: 1.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  text-decoration: none;
  margin: 20px auto;
  transition: background-color 0.3s;
}

.display-btn:hover {
  background-color: rgb(27, 244, 63);
}
