body {
    background-color: rgb(241, 238, 238);
    font-family: Arial, sans-serif;  
    font-size: 1.3em;
}

.container {
    background-color: rgb(211, 238, 214);
    color: rgb(40, 56, 37);
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 0 10px 20px rgb(45, 126, 58);
}

h1 {
    font-size: 2em;
}

.center {
    text-align: center;
}

.description {
    font-size: 1rem;
}

.italic {
    font-style: italic;
}

a {
    text-decoration: none;
}

.nav-display-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.link-btn {
  cursor: pointer;
  background-color: rgb(119, 228, 137);
  color: white;
  width: 120px;
  height: 50px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.link-btn:hover {
  background-color: rgb(27, 244, 63);
}

.flash-title {
    font-size: 1.2em;
}

.example {
    font-size: 0.8rem;
}

#flash-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#card-status {
    flex-basis: 100%;
}

.display-card {
    background-color: rgb(177, 240, 227);
    padding: 20px;
    box-sizing: border-box;
    width: 180px;
    margin: 0;
    box-shadow: 0 10px 20px rgb(45, 126, 95);
    text-align: center;
    transition: background-color 0.3s;
}

.display-card:hover {
  background-color: rgb(126, 253, 175)
}

.card-link {
    display: block;
    font-size: 1.3rem;
    color: rgb(32, 109, 64);
    padding: 10px;
}

#edit-btn, #delete-btn {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    font-size: 1rem;
    margin: 5px;
}

#edit-btn {
    color: rgb(25, 112, 105);
    background-color: rgb(163, 247, 169);
}

#edit-btn:hover {
    background-color: rgb(134, 255, 115);
}

#delete-btn {
    color: rgb(100, 47, 47);
    background-color: rgb(255, 170, 170);
}

#delete-btn:hover {
    background-color: rgb(255, 100, 100);
}
