body {
    background-color: rgb(241, 238, 238);
    font-family: Arial, sans-serif;  
    font-size: 1.3em;
}

.container {
    background-color: rgb(211, 238, 214);
    color: rgb(40, 56, 37);
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 0 10px 20px;
}

h1 {
    font-size: 2em;
}

.center {
    text-align: center;
}

.description {
    font-size: 1rem;
}

.italic {
    font-style: italic;
}

a {
    text-decoration: none;
}

.nav-display-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.link-btn {
  cursor: pointer;
  background-color: rgb(119, 228, 137);
  color: white;
  width: 120px;
  height: 50px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.link-btn:hover {
  background-color: rgb(27, 244, 63);
}

.flash-title {
    font-size: 1.2em;
}

.example {
    font-size: 0.8rem;
}

#flash-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#card-status {
    flex-basis: 100%;
}

.display-card {
    background-color: rgb(177, 240, 227);
    padding: 20px;
    box-sizing: border-box;
    width: 180px;
    height: 120px;
    margin: 0;
    box-shadow: 0 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.display-card:hover {
  background-color: rgb(126, 253, 175);
}

.display-card.purple {
    color: rgb(71, 28, 107);
    background-color: rgb(195, 153, 230);
}

.display-card.purple:hover {
    background-color: rgb(182, 110, 241);
}

.display-card.gold {
    background-color: rgb(240, 196, 94);
}

.display-card.gold:hover {
    background-color: rgb(244, 189, 60);
}

.display-card.blue {
    background-color: rgb(147, 195, 243);
}

.display-card.blue:hover {
    background-color: rgb(109, 174, 239);
}

.display-card.green {
    background-color: rgb(190, 255, 190);
}

.display-card.green:hover {
    background-color: rgb(140, 249, 138);
}

.display-card.pink {
    background-color: rgb(255, 182, 206);
}

.display-card.pink:hover {
    background-color: rgb(246, 130, 169);
}

.display-card.red {
    background-color: rgb(254, 129, 118);
}

.display-card.red:hover {
    background-color: rgb(247, 89, 74);
}

.display-card.orange {
    background-color: rgb(247, 167, 98);
}

.display-card.orange:hover {
    background-color: rgb(240, 146, 65);
}

.card-link {
    display: block;
    font-size: 1.3rem;
    color: rgb(32, 109, 64);
    padding: 10px;
    overflow-wrap: anywhere;
    word-break: break-word;
    text-align: center;
}

.display-card.purple .card-link {
    color: rgb(51, 32, 58);
}

.display-card.gold .card-link {
    color: rgb(80, 60, 10);
}

.display-card.blue .card-link {
    color: rgb(37, 27, 71);
}

.display-card.green .card-link {
    color: rgb(18, 56, 20);
}

.display-card.pink .card-link {
    color: rgb(120, 68, 112);
}

.display-card.red .card-link {
    color: rgb(91, 39, 39);
}

.display-card.orange .card-link {
    color: rgb(107, 60, 30);
}

#card-information-container.purple {
    background-color: rgb(195, 153, 230);
}

#card-information-container.gold {
    background-color: rgb(240, 196, 94);
}

#card-information-container.blue {
    background-color: rgb(147, 195, 243);
}

#card-information-container.green {
    background-color: rgb(190, 255, 190);
}

#card-information-container.pink {
    background-color: rgb(255, 182, 206);
}

#card-information-container.red {
    background-color: rgb(254, 129, 118);
}

#card-information-container.orange {
    background-color: rgb(247, 167, 98);
}

#edit-btn, #delete-btn {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    font-size: 1rem;
    margin: 5px;
}

#edit-btn {
    color: rgb(25, 112, 105);
    background-color: rgb(163, 247, 169);
}

#edit-btn:hover {
    background-color: rgb(134, 255, 115);
}

#delete-btn {
    color: rgb(100, 47, 47);
    background-color: rgb(255, 170, 170);
}

#delete-btn:hover {
    background-color: rgb(255, 100, 100);
}

.explanation {
  font-size: 1.2em;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
}
